*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.outerbox{
    border: 2px solid slateblue;
    width: 100vw;
    height: 100vh;
    /* background-color: aqua; */
    background: linear-gradient(to top left, #495057 , #212529);
}
.innerbox{
    width: 400px;
    margin: 0 auto;
    background: linear-gradient(to top left,white ,#8EECF5);
    border-radius: 10px;
    /* top:50%; */
    transform: translateY(20%);
    box-shadow: 2px 2px 5px red;

}
h1{
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #051923;
    margin: 10 120 10;
}
.signup-header p{
    margin: 10 90 ;
    font-size: 1.5rem;
    color: #012a4a;
}
.signup{
    font-size: 1.5rem;
    color :black;
    margin: 20px 0;
    top: 50%;
    backdrop-filter: blur(8px);
    border-radius: 10px;
    padding: 20px 40px;
    position: relative;


}
.signup p label{
    font-size: 1rem;
    font-weight: bold;
    margin:80  ;
    
   

}
.signup p input{
    margin: 10px 45px  ;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow:  5px 3px black;

}
#submit{
    padding:10px;
    background-color: #3498db;
    border: none;
    color: black;
    font-weight: bold ;
    cursor :pointer;
    border-radius: 5px;
    margin: 10px 0px 0 80px;
   
}
#submit:hover{
    background-color: green;
}
.footer{
    font-size: 1.17rem;
    margin: 20 0 0 30;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer a:hover{
    background-color: #051923;
    color:#8EECF5
}
.footer a:active{
    color:purple;
}
/* .footer a:visited{
    color: green;
}
  */